h1, h2 {
  font-family: 'Press Start 2P', cursive;
}

code {
  font-family: 'Inconsolata', ;
}

li {
  list-style-type: none;
  list-style: none;
}

li:before {
  content: "😁 ";
}


h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

/* bouncing ball keyframe animation courtesy of
http://www.cssnewbie.com/pure-css-bouncing-ball/#.V2_8qZMrJx3 */
@-webkit-keyframes moveX {
      from { left: 0; } to { left: calc(100vw - 52px); }
}
@-moz-keyframes moveX {
      from { left: 0; } to { left: calc(100vw - 52px); }
}
@-o-keyframes moveX {
      from { left: 0; } to { left: calc(100vw - 52px); }
}
@keyframes moveX {
      from { left: 0; } to { left: calc(100vw - 52px); }
}
@-webkit-keyframes moveY {
      from { top: 0; } to { top: calc(100vh - 40px); }
}
@-moz-keyframes moveY {
      from { top: 0; } to { top: calc(100vh - 40px); }
}
@-o-keyframes moveY {
      from { top: 0; } to { top: calc(100vh - 40px); }
}
@keyframes moveY {
      from { top: 0; } to { top: calc(100vh - 40px); }
}

.flying-emoji {
  position: fixed;
  font-size: 4em;
  margin: 0;
  /*
  left: 0;
  top: 0;
  */
  -webkit-animation: moveX 3s linear 0s infinite alternate,
    moveY 3.2s linear 0s infinite alternate;
  -moz-animation: moveX 3s linear 0s infinite alternate,
    moveY 3.2s linear 0s infinite alternate;
  -o-animation: moveX 3s linear 0s infinite alternate,
    moveY 3.2s linear 0s infinite alternate;
  animation: moveX 3s linear 0s infinite alternate,
    moveY 3.2s linear 0s infinite alternate;
}

#emoji-5 {
  -webkit-animation: moveX 1s linear 0s infinite alternate,
    moveY 2.2s linear 0s infinite alternate;
  -moz-animation: moveX 1s linear 0s infinite alternate,
    moveY 2.2s linear 0s infinite alternate;
  -o-animation: moveX 1s linear 0s infinite alternate,
    moveY 2.2s linear 0s infinite alternate;
  animation: moveX 1s linear 0s infinite alternate,
    moveY 2.2s linear 0s infinite alternate;
}

#emoji-4 {
  -webkit-animation: moveX 4s linear 0s infinite alternate,
    moveY 1.2s linear 0s infinite alternate;
  -moz-animation: moveX 4s linear 0s infinite alternate,
    moveY 1.2s linear 0s infinite alternate;
  -o-animation: moveX 4s linear 0s infinite alternate,
    moveY 1.2s linear 0s infinite alternate;
  animation: moveX 4s linear 0s infinite alternate,
    moveY 1.2s linear 0s infinite alternate;
  -webkit-animation-delay: -2.4s;
  -moz-animation-delay: -2.4s;
  -o-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

#emoji-3 {
  -webkit-animation-delay: -2.2s;
  -moz-animation-delay: -2.2s;
  -o-animation-delay: -2.2s;
  animation-delay: -2.2s;
}

#emoji-2 {
  -webkit-animation-delay: -1.8s;
  -moz-animation-delay: -1.8s;
  -o-animation-delay: -1.8s;
  animation-delay: -1.8s;
}

#emoji-1 {
  -webkit-animation-delay: -2s;
  -moz-animation-delay: -2s;
  -o-animation-delay: -2s;
  animation-delay: -2s;
}

#emoji-6 {
  -webkit-animation: moveX 7s linear 0s infinite alternate,
    moveY 3.7s linear 1s infinite alternate;
  -moz-animation: moveX 7s linear 0s infinite alternate,
    moveY 3.7s linear 1s infinite alternate;
  -o-animation: moveX 7s linear 0s infinite alternate,
    moveY 3.7s linear 1s infinite alternate;
  animation: moveX 7s linear 0s infinite alternate,
    moveY 3.7s linear 1s infinite alternate;
}

.flying-link img {
  width: 4em;
}
