h1, h2 {
  font-family: 'Press Start 2P', cursive;
}

code {
  font-family: 'Inconsolata', ;
}

li {
  list-style-type: none;
  list-style: none;
}

li:before {
  content: "😁 ";
}


h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}
